@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.App {
  max-width: 800px;
  margin: 40px auto;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(220, 218, 218);
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  padding: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-top: 1px solid rgb(220, 218, 218);
}

form {
  width: 200px;
  margin: 100px auto;
}

form input {
  display: block;
  width: 200px;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 5px 10px;
  font-size: 1rem;
}

form button {
  width: 100%;
  font-weight: bolder;
  padding: 5px;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

form button:disabled {
  font-weight: lighter;
  cursor: default;
}

form p {
  color: red;
  padding-top: 20px;
}

.home {
  position: relative;
  width: 100%;
  height: 400px;
}

.home button {
  padding: 10px 20px;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  text-align: center;
}
